<html>
<head>
<title>Word Bank Website</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'WordBank/style.css' %}" />
</head>
<body>

<h1>Add Word</h1>

<form action="{% url 'WordBank:addword' %}" method="post">
{% csrf_token %}
Word : <input type="text" name="word" maxlength="100"><br><br>
Type : <select name="wordType" id='wordType'>
    	<option value="Noun">Noun</option>
	<option value="Pronoun">Pronoun</option>
	<option value="Verb">Verb</option>
	<option value="Adverb">Adverb</option>
	<option value="Adjective">Adjective</option>
	<option value="Preposition">Preposition</option>
	<option value="Conjunction">Conjunction</option>
	<option value="Interjection">Interjection</option>
       </select><br><br>
Meaning : <input type="text" name="wordMeaning" maxlength="200"><br><br>

Example Sentences (one example per line)
<br>
<textarea name="wordExample" cols="50" rows="5">
</textarea><br><br>
<input type="submit" value="Add Word" name="add"> 
{% if message_add == "Add word success" %}
<font color="green"><b>{{ message_add }}</b></font>
{% elif message_add == "Please fill input" %}
<font color="red"><b>{{ message_add }}</b></font>
{% endif %}
</form>
<br><br><br>

<h1>Upload word from CSV file</h1>
<form action="{% url 'WordBank:addword' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
Select CSV File:
<input type="file" name="csvFile" id="csvFile"><br><br>
<input type="submit" value="Upload CSV File" name="submit">
{% if message_upload_csv == "Upload word success" %}
<font color="green"><b>{{ message_upload_csv }}</b></font>
{% endif %}
</form><br>

<h1>Upload word from XML file</h1>
<form action="{% url 'WordBank:addword' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
Select XML File:
<input type="file" name="xmlFile" id="xmlFile"><br><br>
<input type="submit" value="Upload XML File" name="submit">
{% if message_upload_xml == "Upload word success" %}
<font color="green"><b>{{ message_upload_xml }}</b></font>
{% endif %}
</form><br>

<form action="{% url 'WordBank:backupandrestore' %}" method='POST'>
{% csrf_token %}
<input type="submit" value="Backup and Restore"> 
</form>


</body>
</html>
