<html>
<head>
<title>Word Bank Website</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'WordBank/style.css' %}" />
</head>
<body>

<h1>All Word</h1>
{% if wordList %}
<center>
<div id='wordResult'>
<table id='wordResultTable'>
<tr id='header'>
<th id='wordText'>Word</td>
<th id='wordType'>Type</td>
<th id='wordMeaning'>Meaning</td>
<th id='wordExample'>Example sentences</td>
</tr>

{% for word in wordList %}
<tr id="{{ word.word_text }}">
<td name="wordText">{{ word.word_text}}</td>
	{% for type in word.wordtype_set.all %}
	{% if forloop.first %}
	<td name="wordType" >{{ type.word_type }}</td>
		{% for meaning in type.wordmeaning_set.all %}
		{% if forloop.first %}
		<td name="wordMeaning">{{ meaning.word_meaning }}</td>
			{% for example in meaning.wordexample_set.all %}
			{% if forloop.first %}
			<td name="wordExample">{{ example.word_example }}</td>
			{% else %}
			<tr>
			<td></td><td></td><td></td>
			<td name="wordExample">{{ example.word_example }}</td>
			</tr>
			{% endif %}
			{% endfor %}
		{% else %}
		<tr>
		<td></td><td></td>
		<td name="wordMeaning">{{ meaning.word_meaning }}</td>
			{% for example in meaning.wordexample_set.all %}
			{% if forloop.first %}
			<td name="wordExample">{{ example.word_example }}</td>
			{% else %}
			<tr>
			<td></td><td></td><td></td>
			<td name="wordExample">{{ example.word_example }}</td>
			</tr>
			{% endif %}
			{% endfor %}
		</tr>
		{% endif %}
		{% endfor %}
	{% else %}
	<tr>
	<td></td>
	<td name="wordType">{{ type.word_type }}</td>
		{% for meaning in type.wordmeaning_set.all %}
		{% if forloop.first %}
		<td name="wordMeaning">{{ meaning.word_meaning }}</td>
			{% for example in meaning.wordexample_set.all %}
			{% if forloop.first %}
			<td name="wordExample">{{ example.word_example }}</td>
			{% else %}
			<tr>
			<td></td><td></td><td></td>
			<td name="wordExample">{{ example.word_example }}</td>
			</tr>
			{% endif %}
			{% endfor %}
		{% else %}
		<tr>
		<td></td><td></td>
		<td name="wordMeaning">{{ meaning.word_meaning }}</td>
			{% for example in meaning.wordexample_set.all %}
			{% if forloop.first %}
			<td name="wordExample">{{ example.word_example }}</td>
			{% else %}
			<tr>
			<td></td><td></td><td></td>
			<td name="wordExample">{{ example.word_example }}</td>
			</tr>
			{% endif %}
			{% endfor %}
		</tr>
		{% endif %}
		{% endfor %}
	</tr>
	{% endif %}
	{% endfor %}
</tr>
{% endfor %}
</table>
</div>
<center>


{% else %}
    <p>Not found.</p>
{% endif %}

</body>
</html>
