<html>
<head>
<title>Word Bank Website</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'WordBank/style.css' %}" />
</head>
<body>

<h1>Backup and Restore</h1>
<br>

<h2>Backup</h2>
<form action="{% url 'WordBank:backupandrestore' %}" method='POST'>
{% csrf_token %}
Backup Name : <input type="text" name="backup_name"><br><br>
<input type="submit" value="Backup to CSV" name='backup_csv'> 
<input type="submit" value="Backup to XML" name='backup_xml'> 
</form>
{% if message_backup == "Backup Success" %}
<font color="green"><b>{{ message_backup }}</b></font>
{% elif message_backup == "Backup Failed" %}
<font color="red"><b>{{ message_backup }}</b></font>
{% endif %}

<h2>Restore</h2>
<form action="{% url 'WordBank:backupandrestore' %}" method="post">
{% csrf_token %}
Select backup<br>
<select name="selectBackup" id='selectBackup' size=6>
	{% for backup in backup_list %}
    	<option value="{{ backup }}">{{ backup }}</option>
	{% endfor %}
</select><br><br>
<input type="submit" value="Restore" name="restore">
<input type="submit" value="Export" name="export"><br>
{% if message_restore == "Restore Success" %}
<font color="green"><b>{{ message_restore }}</b></font>
{% elif message_restore == "Restore Failed" %}
<font color="red"><b>{{ message_restore }}</b></font>
{% elif message_restore == "Please select backup for restore" %}
<font color="red"><b>{{ message_restore }}</b></font>
{% endif %}
</form>

<br><br>
<h2>Convert XML Normal Format/G2 Standard Format</h2>
<form action="{% url 'WordBank:backupandrestore' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
Select XML File:
<input type="file" name="xmlFile" id="xmlFile"><br><br>
<select name="convertType" id='convertType'>
	<option value="g2standard">Normal Format -> G2 Standard Format</option>
	<option value="normal">G2 Standard Format -> Normal Format</option>
</select><br><br>
<input type="submit" value="Convert" name="convertXMLstandard">
</form>

</body>
</html>
