<html>
<head>
<title>Word Bank Website</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'WordBank/style.css' %}" />
</head>
<body>

<br><br><br>
<div id='logo'>
<center><h1><b>Word Bank</b></h1></center>
</div>

<br><br>
<div id='searchBox'>
<center>
<form id="searchForm" action="{% url 'WordBank:result' %}" method='GET'>
<input type="text" name="wordInput" id="wordInput"> 
<input type="submit" value="Search" id="searchSubmit">
<br><br>
Search method : 
<select name="searchMethod" id='searchMethod'>
    <option value="any" id="any">Any</option>
    <option value="startWith" id="startWith">Start with</option>
    <option value="matchAll" id="matchAll">Match All</option>
</select>
</form>

<br><br>
<form action="{% url 'WordBank:addword' %}" method='GET'>
<input type="submit" value="Add Word"> 
</form>
<form action="{% url 'WordBank:allword' %}" method='GET'>
<input type="submit" value="All Word">
</form>
<form action="{% url 'WordBank:backupandrestore' %}" method='GET'>
<input type="submit" value="Backup and Restore"> 
</form>
<form action="{% url 'WordBank:showlastsearchkeyword' %}" method='GET'>
<input type="submit" value="Show Last Search Keyword"> 
</form>
<form action="{% url 'WordBank:showmostsearchword' %}" method='GET'>
<input type="submit" value="Show Most Search Word"> 
</form>

</center>
</div>

</body>
</html>
