<html>
<head>
<title>Word Bank Website</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'WordBank/style.css' %}" />
</head>
<body>

<h1>Most Search Word</h1>
{% if mostSearchWordList %}
<center>
<div>
<table>
<tr>
<th>Word</td>
<th>Search Times</td>
</tr>

{% for searchWord in mostSearchWordList %}
<tr>
<td>{{ searchWord.word }}</td>
<td>{{ searchWord.searchTimes }}</td>
</tr>
{% endfor %}
</table>
</div>
<center>


{% else %}
    <p>Not found.</p>
{% endif %}

</body>
</html>
