<html>
<head>
<title>Word Bank Website</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'WordBank/style.css' %}" />
</head>
<body>

<h1>Last Search Keyword</h1>
{% if searchKeywordList %}
<center>
<div>
<table>
<tr>
<th>Keyword</td>
<th>Search Time</td>
<th>Found</td>
<th>Found Word</td>
</tr>

{% for searchKeyword in searchKeywordList %}
<tr>
<td>{{ searchKeyword.Search_Keyword }}</td>
<td>{{ searchKeyword.Search_Time }}</td>
<td>{{ searchKeyword.Found }}</td>
<td>
{% for word in searchKeyword.Found_Word %}
{% if forloop.first %}
{{ word }}
{% else %}
, {{ word }}
{% endif %}
{% endfor %}
</td>
</tr>
{% endfor %}
</table>
</div>
<center>


{% else %}
    <p>Not found.</p>
{% endif %}

</body>
</html>
