body {
	background: black url("images/background.jpg");
	background-repeat:no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	color: white;
}

#wordResult table,th,tr,td {
	border: 3px solid white;
	border-collapse: collapse;
	padding: 10px;
	background-color: rgba(100,100,100,.15);
	color: white;
}

